USE [master]
GO
/****** Object:  Database [APPNOTE]    Script Date: 22/06/2020 08:37:31 ******/
CREATE DATABASE [APPNOTE]
 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [APPNOTE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [APPNOTE]
GO
/****** Object:  Table [dbo].[Note]    Script Date: 22/06/2020 08:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Note](
	[Id] [int] NOT NULL,
	[Tittle] [nvarchar](500) NULL,
	[Content] [nvarchar](max) NULL,
	[Info] [datetime] NULL,
	[isTrash] [bit] NULL,
	[isPin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Note_Tag]    Script Date: 22/06/2020 08:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Note_Tag](
	[Id] [int] NOT NULL,
	[tagname] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[tagname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 22/06/2020 08:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[tagname] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tagname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Note_Tag]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[Note] ([Id])
GO
ALTER TABLE [dbo].[Note_Tag]  WITH CHECK ADD FOREIGN KEY([tagname])
REFERENCES [dbo].[Tag] ([tagname])
GO
USE [master]
GO
